*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
//=========================================RESETS===============//

@font-face {
  font-family: "Pokemon Hollow";
  src: url("../../fonts/Pokemon Hollow.ttf") format("truetype");
}
.app {
  background: rgb(248, 248, 248);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3rem;

  .app__title {
    font-family: "Pokemon Hollow", Arial, Helvetica, sans-serif;
    font-size: 8rem;
    letter-spacing: 1.5rem;
    color: rgb(27, 27, 27);
  }
}
